nodered/flows/dashboard_flow.json
[
  {
    "id": "4985bdfbcf200fe6",
    "type": "tab",
    "label": "Projekt Automatisierung - FINAL (800x480 + QR offline)",
    "disabled": false,
    "info": ""
  },
  {
    "id": "0318f4604525f4f7",
    "type": "ui_tab",
    "name": "Welcome",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "1a87758382986ddf",
    "type": "ui_tab",
    "name": "WiFi",
    "icon": "wifi",
    "order": 6,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "b482803534c81cb7",
    "type": "ui_tab",
    "name": "Projekt-info",
    "icon": "info",
    "order": 3,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "9db2c967c1a488ee",
    "type": "ui_tab",
    "name": "Projekt-Parametrierung",
    "icon": "tune",
    "order": 4,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "3fe8602f3f429631",
    "type": "ui_tab",
    "name": "Projekt-Datenlog",
    "icon": "list",
    "order": 5,
    "disabled": false,
    "hidden": false
  },
  {
    "id": "1b4dd4e879ccb455",
    "type": "ui_group",
    "name": "Willkommen auf dem Projekt-Dashboard",
    "tab": "0318f4604525f4f7",
    "order": 1,
    "disp": true,
    "width": "14",
    "collapse": false,
    "className": ""
  },
  {
    "id": "6888e5abb8efb54d",
    "type": "ui_group",
    "name": "WLAN Anmeldung",
    "tab": "1a87758382986ddf",
    "order": 1,
    "disp": true,
    "width": 14,
    "collapse": false,
    "className": "desktop-only"
  },
  {
    "id": "18e42aa468913fd1",
    "type": "ui_group",
    "name": "WLAN Anmeldung",
    "tab": "1a87758382986ddf",
    "order": 2,
    "disp": true,
    "width": 10,
    "collapse": false,
    "className": "mobile-only"
  },
  {
    "id": "939aa8523e70cefb",
    "type": "ui_group",
    "name": "Status / Sensoren",
    "tab": "b482803534c81cb7",
    "order": 2,
    "disp": true,
    "width": 10,
    "collapse": false,
    "className": "mobile-only"
  },
  {
    "id": "3584a9c30b6db556",
    "type": "ui_group",
    "name": "Status / Sensoren",
    "tab": "b482803534c81cb7",
    "order": 1,
    "disp": true,
    "width": 14,
    "collapse": false,
    "className": "desktop-only"
  },
  {
    "id": "0ef8bd821a032b93",
    "type": "ui_group",
    "name": "Parametrierung",
    "tab": "9db2c967c1a488ee",
    "order": 1,
    "disp": true,
    "width": 14,
    "collapse": false,
    "className": "desktop-only"
  },
  {
    "id": "cd3e28787d1292e1",
    "type": "ui_group",
    "name": "Parametrierung",
    "tab": "9db2c967c1a488ee",
    "order": 2,
    "disp": true,
    "width": 10,
    "collapse": false,
    "className": "mobile-only"
  },
  {
    "id": "bdc119e647f71c57",
    "type": "ui_group",
    "name": "Datenlog",
    "tab": "3fe8602f3f429631",
    "order": 1,
    "disp": true,
    "width": 14,
    "collapse": false
  },
  {
    "id": "3430d891af8fa1f6",
    "type": "ui_base",
    "theme": {
      "name": "theme-light",
      "lightTheme": {
        "default": "#0094CE",
        "baseColor": "#0094CE",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": true,
        "reset": false
      },
      "darkTheme": {
        "default": "#097479",
        "baseColor": "#097479",
        "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
        "edited": false
      },
      "themeState": {
        "base-color": {
          "default": "#0094CE",
          "value": "#0094CE",
          "edited": false
        },
        "page-titlebar-backgroundColor": {
          "value": "#0094CE",
          "edited": false
        },
        "page-backgroundColor": {
          "value": "#fafafa",
          "edited": false
        },
        "page-sidebar-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-textColor": {
          "value": "#1bbfff",
          "edited": false
        },
        "group-borderColor": {
          "value": "#ffffff",
          "edited": false
        },
        "group-backgroundColor": {
          "value": "#ffffff",
          "edited": false
        },
        "widget-textColor": {
          "value": "#111111",
          "edited": false
        },
        "widget-backgroundColor": {
          "value": "#0094ce",
          "edited": false
        },
        "widget-borderColor": {
          "value": "#ffffff",
          "edited": false
        }
      }
    },
    "site": {
      "name": "Node-RED Dashboard",
      "hideToolbar": "false",
      "allowSwipe": "false",
      "lockMenu": "false",
      "allowTempTheme": "true",
      "dateFormat": "DD.MM.YYYY",
      "sizes": {
        "sx": 48,
        "sy": 48,
        "gx": 6,
        "gy": 6,
        "cx": 6,
        "cy": 6,
        "px": 0,
        "py": 0
      }
    }
  },
  {
    "id": "4e62a4011a9a2d00",
    "type": "ui_template",
    "z": "4985bdfbcf200fe6",
    "group": "1b4dd4e879ccb455",
    "name": "Responsive CSS Global",
    "order": -1,
    "width": 0,
    "height": 0,
    "format": "<style>\n  * { box-sizing: border-box; }\n  html, body, md-content, .nr-dashboard-dashboard { overflow-x: hidden; }\n  .nr-dashboard-cardcontainer { padding: 4px; }\n  md-card { width: 100%; max-width: calc(100% - 8px); }\n\n  .mobile-only { display: none !important; }\n  .desktop-only { display: block !important; }\n\n  @media (max-width: 600px) {\n    .desktop-only { display: none !important; }\n    .mobile-only { display: block !important; }\n    md-card { margin: 2px !important; }\n    .nr-dashboard-cardcontainer { padding: 2px !important; }\n  }\n\n  /* QR cards */\n  .qr-card {\n    background: #ffffff;\n    padding: 16px 18px;\n    border-radius: 12px;\n    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.18);\n    text-align: center;\n    width: 100%;\n  }\n  .qr-title {\n    font-weight: 700;\n    margin-bottom: 8px;\n    color: #111111;\n  }\n  .qr-card img {\n    width: 200px;\n    height: 200px;\n    display: block;\n    margin: 0 auto;\n  }\n  .qr-hint {\n    margin-top: 8px;\n    font-size: 13px;\n    color: #333333;\n  }\n  @media (max-width: 600px) {\n    .qr-card { padding: 12px 14px; }\n    .qr-card img { width: 170px; height: 170px; }\n    .qr-hint { font-size: 12px; }\n  }\n\n</style>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "global",
    "x": 140,
    "y": 50,
    "wires": [
      []
    ]
  },
  {
    "id": "7e3a8a709a4fb946",
    "type": "ui_template",
    "z": "4985bdfbcf200fe6",
    "group": "1b4dd4e879ccb455",
    "name": "Welcome Anzeige (zentriert)",
    "order": 3,
    "width": 14,
    "height": 7,
    "format": "<div></div>",
    "storeOutMessages": false,
    "fwdInMessages": true,
    "resendOnRefresh": true,
    "templateScope": "local",
    "x": 1820,
    "y": 100,
    "wires": [
      []
    ]
  },
  {
    "id": "5fedbca111dace7e",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Sensoren lesen (Mobile)",
    "group": "939aa8523e70cefb",
    "order": 1,
    "width": 10,
    "height": 1,
    "passthru": false,
    "label": "Sensoren aktualisieren",
    "tooltip": "READ Kommando senden",
    "icon": "refresh",
    "payload": "READ",
    "payloadType": "str",
    "topic": "",
    "x": 380,
    "y": 520,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "0d8e4bd65b6f369b",
    "type": "ui_text",
    "z": "4985bdfbcf200fe6",
    "group": "939aa8523e70cefb",
    "order": 2,
    "width": 10,
    "height": 1,
    "name": "A0 Display (Mobile)",
    "label": "Sensor A0",
    "format": "{{msg.payload.a0}}",
    "layout": "row-spread",
    "x": 600,
    "y": 560,
    "wires": []
  },
  {
    "id": "58c629f7381e64a0",
    "type": "ui_text",
    "z": "4985bdfbcf200fe6",
    "group": "939aa8523e70cefb",
    "order": 3,
    "width": 10,
    "height": 1,
    "name": "A1 Display (Mobile)",
    "label": "Sensor A1",
    "format": "{{msg.payload.a1}}",
    "layout": "row-spread",
    "x": 600,
    "y": 600,
    "wires": []
  },
  {
    "id": "9baf027087ee53a2",
    "type": "ui_text",
    "z": "4985bdfbcf200fe6",
    "group": "939aa8523e70cefb",
    "order": 4,
    "width": 10,
    "height": 1,
    "name": "Uptime Display (Mobile)",
    "label": "Uptime (ms)",
    "format": "{{msg.payload.uptime_ms}}",
    "layout": "row-spread",
    "x": 610,
    "y": 640,
    "wires": []
  },
  {
    "id": "9176738c8c89f470",
    "type": "ui_text",
    "z": "4985bdfbcf200fe6",
    "group": "3584a9c30b6db556",
    "order": 2,
    "width": 7,
    "height": 1,
    "name": "A0 Display",
    "label": "Sensor A0",
    "format": "{{msg.payload.a0}}",
    "layout": "row-spread",
    "x": 600,
    "y": 560,
    "wires": []
  },
  {
    "id": "9c0ab803433d6479",
    "type": "ui_text",
    "z": "4985bdfbcf200fe6",
    "group": "3584a9c30b6db556",
    "order": 3,
    "width": 7,
    "height": 1,
    "name": "A1 Display",
    "label": "Sensor A1",
    "format": "{{msg.payload.a1}}",
    "layout": "row-spread",
    "x": 600,
    "y": 600,
    "wires": []
  },
  {
    "id": "92797bc31e9565c2",
    "type": "ui_text",
    "z": "4985bdfbcf200fe6",
    "group": "3584a9c30b6db556",
    "order": 4,
    "width": 7,
    "height": 1,
    "name": "Uptime Display",
    "label": "Uptime (ms)",
    "format": "{{msg.payload.uptime_ms}}",
    "layout": "row-spread",
    "x": 610,
    "y": 640,
    "wires": []
  },
  {
    "id": "f5c0bddf87cbb257",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Sensoren lesen",
    "group": "3584a9c30b6db556",
    "order": 1,
    "width": 7,
    "height": 1,
    "passthru": false,
    "label": "Sensoren aktualisieren",
    "tooltip": "READ Kommando senden",
    "icon": "refresh",
    "payload": "READ",
    "payloadType": "str",
    "topic": "",
    "x": 380,
    "y": 540,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "c0f8c18ec0927681",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Actuator 22 ON",
    "group": "0ef8bd821a032b93",
    "order": 2,
    "width": 7,
    "height": 1,
    "passthru": false,
    "label": "Pin 22 EIN",
    "tooltip": "Actuator Pin 22 einschalten",
    "bgcolor": "green",
    "icon": "arrow-circle-o-up",
    "payload": "ACT,22,1",
    "payloadType": "str",
    "topic": "",
    "x": 140,
    "y": 720,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "aa83e3ae7868acd9",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Actuator 22 OFF",
    "group": "0ef8bd821a032b93",
    "order": 3,
    "width": 7,
    "height": 1,
    "passthru": false,
    "label": "Pin 22 AUS",
    "tooltip": "Actuator Pin 22 ausschalten",
    "bgcolor": "red",
    "icon": "arrow-circle-o-down",
    "payload": "ACT,22,0",
    "payloadType": "str",
    "topic": "",
    "x": 140,
    "y": 760,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "86910374b7f6e4bf",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Actuator 23 ON",
    "group": "0ef8bd821a032b93",
    "order": 4,
    "width": 7,
    "height": 1,
    "passthru": false,
    "label": "Pin 23 EIN",
    "tooltip": "Actuator Pin 23 einschalten",
    "bgcolor": "green",
    "icon": "arrow-circle-o-up",
    "payload": "ACT,23,1",
    "payloadType": "str",
    "topic": "",
    "x": 140,
    "y": 800,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "ea97655e96f4df31",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Actuator 23 OFF",
    "group": "0ef8bd821a032b93",
    "order": 5,
    "width": 7,
    "height": 1,
    "passthru": false,
    "label": "Pin 23 AUS",
    "tooltip": "Actuator Pin 23 ausschalten",
    "bgcolor": "red",
    "icon": "arrow-circle-o-down",
    "payload": "ACT,23,0",
    "payloadType": "str",
    "topic": "",
    "x": 140,
    "y": 840,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "4ac1b66aca6f1626",
    "type": "link out",
    "z": "4985bdfbcf200fe6",
    "name": "to Arduino (from Dashboard)",
    "links": [
      "link_in_from_dashboard"
    ],
    "x": 720,
    "y": 560,
    "wires": []
  },
  {
    "id": "2a616d8b76b4fe2c",
    "type": "link in",
    "z": "4985bdfbcf200fe6",
    "name": "sensors from Arduino",
    "links": [
      "link_out_from_data"
    ],
    "x": 460,
    "y": 600,
    "wires": [
      [
        "9176738c8c89f470",
        "9c0ab803433d6479",
        "92797bc31e9565c2",
        "0d8e4bd65b6f369b",
        "58c629f7381e64a0",
        "9baf027087ee53a2"
      ]
    ]
  },
  {
    "id": "ac37d9126f690713",
    "type": "ui_text",
    "z": "4985bdfbcf200fe6",
    "group": "0ef8bd821a032b93",
    "order": 1,
    "width": 14,
    "height": 1,
    "name": "Arduino Steuerung Info",
    "label": "Arduino Steuerung",
    "format": "Digitale Ausgänge (Actuators) abfeuern →",
    "layout": "row-spread",
    "x": 1820,
    "y": 700,
    "wires": []
  },
  {
    "id": "a17a1a6c2b160f33",
    "type": "ui_text",
    "z": "4985bdfbcf200fe6",
    "group": "cd3e28787d1292e1",
    "order": 1,
    "width": 10,
    "height": 1,
    "name": "Arduino Steuerung Info (Mobile)",
    "label": "Arduino Steuerung",
    "format": "Digitale Ausgänge (Actuators) abfeuern →",
    "layout": "row-spread",
    "x": 1820,
    "y": 710,
    "wires": []
  },
  {
    "id": "c9b06de3c020cf3e",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Actuator 22 ON (Mobile)",
    "group": "cd3e28787d1292e1",
    "order": 2,
    "width": 5,
    "height": 1,
    "passthru": false,
    "label": "Pin 22 EIN",
    "tooltip": "Actuator Pin 22 einschalten",
    "bgcolor": "green",
    "icon": "arrow-circle-o-up",
    "payload": "ACT,22,1",
    "payloadType": "str",
    "topic": "",
    "x": 180,
    "y": 760,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "751fea17d2b1b531",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Actuator 22 OFF (Mobile)",
    "group": "cd3e28787d1292e1",
    "order": 3,
    "width": 5,
    "height": 1,
    "passthru": false,
    "label": "Pin 22 AUS",
    "tooltip": "Actuator Pin 22 ausschalten",
    "bgcolor": "red",
    "icon": "arrow-circle-o-down",
    "payload": "ACT,22,0",
    "payloadType": "str",
    "topic": "",
    "x": 180,
    "y": 800,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "8da6a75eaa79d3a4",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Actuator 23 ON (Mobile)",
    "group": "cd3e28787d1292e1",
    "order": 4,
    "width": 5,
    "height": 1,
    "passthru": false,
    "label": "Pin 23 EIN",
    "tooltip": "Actuator Pin 23 einschalten",
    "bgcolor": "green",
    "icon": "arrow-circle-o-up",
    "payload": "ACT,23,1",
    "payloadType": "str",
    "topic": "",
    "x": 180,
    "y": 840,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "9e5a1dc0c5928f70",
    "type": "ui_button",
    "z": "4985bdfbcf200fe6",
    "name": "Actuator 23 OFF (Mobile)",
    "group": "cd3e28787d1292e1",
    "order": 5,
    "width": 5,
    "height": 1,
    "passthru": false,
    "label": "Pin 23 AUS",
    "tooltip": "Actuator Pin 23 ausschalten",
    "bgcolor": "red",
    "icon": "arrow-circle-o-down",
    "payload": "ACT,23,0",
    "payloadType": "str",
    "topic": "",
    "x": 180,
    "y": 880,
    "wires": [
      [
        "4ac1b66aca6f1626"
      ]
    ]
  },
  {
    "id": "152d67ddd441a63e",
    "type": "global-config",
    "env": [],
    "modules": {
      "node-red-dashboard": "3.6.6"
    }
  }
]
